In [1]:
!pip install numpy pandas

Requirement already satisfied: numpy in c:\users\thray\anaconda3\lib\site-packages (1.26.4)
Requirement already satisfied: pandas in c:\users\thray\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thray\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\thray\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\thray\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\thray\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [3]:
# import libraries
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("netflix_titles.csv")

In [5]:
df.sample(5)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2153,s2154,TV Show,Sing On! Germany,NaN,Palina Rojinski,Germany,"August 7, 2020",2020,TV-PG,1 Season,"International TV Shows, Reality TV",In this karaoke competition hosted by Palina R...
5334,s5335,Movie,Baahubali 2: The Conclusion (Hindi Version),S.S. Rajamouli,"Prabhas, Rana Daggubati, Anushka Shetty, Taman...",India,"August 7, 2017",2017,TV-MA,165 min,"Action & Adventure, Dramas, International Movies","To avenge his father's death, a young man lead..."
4944,s4945,Movie,Fary Is the New Black,Kader Aoun,Fary,France,"April 3, 2018",2018,TV-MA,75 min,Stand-Up Comedy,"Armed with sly wit, a fresh outlook and plenty..."
8003,s8004,Movie,Sherlock Holmes,Guy Ritchie,"Robert Downey Jr., Jude Law, Rachel McAdams, M...","United States, Germany, United Kingdom, Australia","January 1, 2021",2009,PG-13,128 min,"Action & Adventure, Comedies",The game is afoot for an eccentric detective w...
1248,s1249,Movie,Biggie: I Got a Story to Tell,Emmett Malloy,"The Notorious B.I.G., Sean ""P. Diddy"" Combs",United States,"March 1, 2021",2021,R,98 min,"Documentaries, Music & Musicals",Featuring rare footage and in-depth interviews...

In [6]:
df.drop(["show_id", "description"], axis = 1, inplace = True)

In [7]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in
6140,Movie,American Experience: The Island Murder,Mark Zwonitzer,Blair Brown,United States,"May 1, 2019",2018,TV-14,53 min,Documentaries
6087,Movie,Act of Vengeance,Mahsun Kırmızıgül,"Haluk Bilginer, Mahsun Kırmızıgül, Mustafa San...","Turkey, United States","September 29, 2018",2010,NR,112 min,"Action & Adventure, International Movies"
5285,TV Show,Reign,NaN,"Adelaide Kane, Megan Follows, Torrance Coombs,...",United States,"September 5, 2017",2017,TV-14,4 Seasons,TV Dramas
3000,TV Show,Pandemic: How to Prevent an Outbreak,NaN,NaN,United States,"January 22, 2020",2020,TV-14,1 Season,"Docuseries, Science & Nature TV"
1355,TV Show,Love Daily,NaN,"Kamil McFadden, Alexandra Peters, Laura Marano...",United States,"February 1, 2021",2018,TV-14,1 Season,"Romantic TV Shows, Teen TV Shows"

In [8]:
df.shape

(8807, 10)

In [9]:
df.size

88070

In [10]:
df.index

RangeIndex(start=0, stop=8807, step=1)

In [11]:
df.columns

Index(['type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in'],
      dtype='object')

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      6173 non-null   object
 3   cast          7982 non-null   object
 4   country       7976 non-null   object
 5   date_added    8797 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8803 non-null   object
 8   duration      8804 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

In [13]:
df.isna().sum()

type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
dtype: int64

In [14]:
df["country"].value_counts().head(3)

country
United States     2818
India              972
United Kingdom     419
Name: count, dtype: int64

In [15]:
mode_country = df["country"].mode()[0]
mode_country

'United States'

In [16]:
df["country"] = df["country"].fillna(mode_country)

In [17]:
df["country"].isna().sum()

0

In [18]:
df["date_added"].value_counts().head(3)

date_added
January 1, 2020     109
November 1, 2019     89
March 1, 2018        75
Name: count, dtype: int64

In [19]:
mode_date = df["date_added"].mode()[0]
mode_date

'January 1, 2020'

In [20]:
df["date_added"] = df["date_added"].fillna(mode_date)

In [21]:
df["date_added"].isna().sum()

0

In [22]:
mode_rating = df["rating"].mode()[0]
mode_rating

'TV-MA'

In [23]:
df["rating"] = df["rating"].fillna(mode_rating)

In [24]:
df["rating"].isna().sum()

0

In [25]:
mode_duration = df["duration"].mode()[0]
mode_duration

'1 Season'

In [26]:
df["duration"] = df["duration"].fillna(mode_duration)

In [27]:
df["duration"].isna().sum()

0

In [28]:
df["director"] = df["director"].fillna("Not mentioned")

In [29]:
df["director"].isna().sum()

0

In [30]:
df["cast"] = df["cast"].fillna("Not mentioned")
df["cast"].isna().sum()

0

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8807 entries, 0 to 8806
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8807 non-null   object
 1   title         8807 non-null   object
 2   director      8807 non-null   object
 3   cast          8807 non-null   object
 4   country       8807 non-null   object
 5   date_added    8807 non-null   object
 6   release_year  8807 non-null   int64
 7   rating        8807 non-null   object
 8   duration      8807 non-null   object
 9   listed_in     8807 non-null   object
dtypes: int64(1), object(9)
memory usage: 688.2+ KB

# # null value eradication of data cleaning is done

In [33]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', '74 min', '84 min', '66 min', 'NR',
       'TV-Y7-FV', 'UR'], dtype=object)

In [34]:
df = df[~df["rating"].str.contains("min")]

In [35]:
df["rating"].unique()

array(['PG-13', 'TV-MA', 'PG', 'TV-14', 'TV-PG', 'TV-Y', 'TV-Y7', 'R',
       'TV-G', 'G', 'NC-17', 'NR', 'TV-Y7-FV', 'UR'], dtype=object)

In [36]:
df["date_added"].unique()

array(['September 25, 2021', 'September 24, 2021', 'September 23, 2021',
       ..., 'December 6, 2018', 'March 9, 2016', 'January 11, 2020'],
      dtype=object)

In [37]:
df["date_added"] = df["date_added"].str.replace(",","")

In [38]:
df["date_added"].unique()

array(['September 25 2021', 'September 24 2021', 'September 23 2021', ...,
       'December 6 2018', 'March 9 2016', 'January 11 2020'], dtype=object)

In [39]:
df["date_added"] = pd.to_datetime(df["date_added"], format = "mixed")

In [40]:
df["date_added"].unique()

<DatetimeArray>
['2021-09-25 00:00:00', '2021-09-24 00:00:00', '2021-09-23 00:00:00',
 '2021-09-22 00:00:00', '2021-09-21 00:00:00', '2021-09-20 00:00:00',
 '2021-09-19 00:00:00', '2021-09-17 00:00:00', '2021-09-16 00:00:00',
 '2021-09-15 00:00:00',
 ...
 '2018-09-27 00:00:00', '2017-03-23 00:00:00', '2016-12-25 00:00:00',
 '2016-11-30 00:00:00', '2017-10-23 00:00:00', '2017-11-04 00:00:00',
 '2015-08-05 00:00:00', '2018-12-06 00:00:00', '2016-03-09 00:00:00',
 '2020-01-11 00:00:00']
Length: 1714, dtype: datetime64[ns]

In [41]:
df["year"] = df["date_added"].dt.year

In [42]:
df["month"] = df["date_added"].dt.month

In [43]:
df["day"] = df["date_added"].dt.day

In [44]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day
2366,Movie,Alexandria: Again and Forever,Youssef Chahine,"Youssef Chahine, Yousra, Hussein Fahmy, Amr Ab...","France, Egypt",2020-06-18,1989,TV-MA,109 min,"Classic Movies, Dramas, International Movies",2020,6,18
7310,Movie,Listen Up! The Lives of Quincy Jones,Ellen Weissbrod,"Quincy Jones, Miles Davis, Ray Charles, Sheila...",United States,2019-11-01,1990,TV-14,116 min,"Documentaries, Music & Musicals",2019,11,1
4129,TV Show,Safe,Not mentioned,"Michael C. Hall, Amanda Abbington, Marc Warren...",United Kingdom,2019-02-05,2018,TV-MA,1 Season,"British TV Shows, Crime TV Shows, Internationa...",2019,2,5
3512,Movie,Sebastian Maniscalco: What's Wrong with People?,Manny Rodriguez,Sebastian Maniscalco,United States,2019-09-17,2012,TV-MA,76 min,Stand-Up Comedy,2019,9,17
7939,Movie,Sarvopari Palakkaran,Venugopan,"Anoop Menon, Alencier Ley Lopez, Balu Varghese...",India,2018-07-01,2017,TV-14,133 min,"Dramas, International Movies",2018,7,1

In [45]:
df["genre"] = df["listed_in"].str.split(",").str[0]

In [46]:
df["genre"].value_counts().head()

genre
Dramas                    1600
Comedies                  1210
Action & Adventure         859
Documentaries              829
International TV Shows     774
Name: count, dtype: int64

In [47]:
df = df[df["cast"]!="Not Mentioned"]

In [48]:
df["lead_actor"] = df["cast"].str.split(",").str[0]

In [49]:
df["lead_actor"].value_counts().head()

lead_actor
Not mentioned       825
Shah Rukh Khan       26
Akshay Kumar         23
Adam Sandler         20
Amitabh Bachchan     20
Name: count, dtype: int64

In [50]:
df.sample(5)

,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,year,month,day,genre,lead_actor
4261,TV Show,Way Back into Love,Not mentioned,"June Tsai, Ray Chang, Lung Shao-hua, Yi-Wen Ye...",Taiwan,2018-12-24,2011,TV-14,1 Season,"International TV Shows, Romantic TV Shows, TV ...",2018,12,24,International TV Shows,June Tsai
3457,TV Show,Seis Manos,Not mentioned,"Aislinn Derbez, Mike Colter, Jonny Cruz, Angél...",United States,2019-10-03,2019,TV-MA,1 Season,"Anime Series, Crime TV Shows",2019,10,3,Anime Series,Aislinn Derbez
7388,Movie,Mala Kahich Problem Nahi,Sameer Vidwans,"Gashmeer Mahajani, Spruha Joshi, Nirmiti Sawan...",India,2018-11-15,2017,TV-PG,132 min,"Dramas, International Movies",2018,11,15,Dramas,Gashmeer Mahajani
4534,Movie,Super Monsters Save Halloween,Not mentioned,"Elyse Maloway, Vincent Tong, Erin Matthews, An...",United States,2018-10-05,2018,TV-Y,25 min,Children & Family Movies,2018,10,5,Children & Family Movies,Elyse Maloway
1870,Movie,My Step Dad: The Hippie,Meltem Bozoflu,"Onur Buldu, Mahir İpek, Derya Karadaş, Onur At...","Turkey, South Korea",2020-10-09,2018,TV-MA,100 min,"Comedies, International Movies",2020,10,9,Comedies,Onur Buldu

In [51]:
df.drop(["cast", "date_added", "listed_in"], axis = 1, inplace = True)

In [52]:
df.sample(5)

,type,title,director,country,release_year,rating,duration,year,month,day,genre,lead_actor
1920,Movie,The Book of Sun,Faris Godus,Saudi Arabia,2020,TV-14,120 min,2020,10,1,Comedies,Baraa Alem
3966,Movie,The Highwaymen,John Lee Hancock,United States,2019,R,132 min,2019,3,29,Dramas,Kevin Costner
3432,Movie,The Forest of Love,Sion Sono,Japan,2019,TV-MA,151 min,2019,10,11,Dramas,Kippei Shiina
4520,TV Show,Ordinary Heroes,Not mentioned,United States,2018,TV-MA,1 Season,2018,10,11,Crime TV Shows,Giorgio Tirabassi
1900,Movie,Vampires vs. the Bronx,Oz Rodriguez,United States,2020,PG-13,86 min,2020,10,2,Comedies,Jaden Michael

In [53]:
df.to_csv("cleaned_data.csv")

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8804 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   type          8804 non-null   object
 1   title         8804 non-null   object
 2   director      8804 non-null   object
 3   country       8804 non-null   object
 4   release_year  8804 non-null   int64
 5   rating        8804 non-null   object
 6   duration      8804 non-null   object
 7   year          8804 non-null   int32
 8   month         8804 non-null   int32
 9   day           8804 non-null   int32
 10  genre         8804 non-null   object
 11  lead_actor    8804 non-null   object
dtypes: int32(3), int64(1), object(8)
memory usage: 791.0+ KB

In [55]:
missing_data = df.isnull().sum()

In [56]:
missing_data

type            0
title           0
director        0
country         0
release_year    0
rating          0
duration        0
year            0
month           0
day             0
genre           0
lead_actor      0
dtype: int64